@charset "utf-8";

body {
    max-width: 100%;
}

.inner {
    width: 390px;
    height: 100%;
}
header {
    width: 100%;
    height: 30px;
}
.right {
    margin-right: 10px;
    align-items: center;
}
header .right span {
    font-size: 8px;
    line-height: 30px;
}
.menu {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.logo {
    width: 84px;
    height: 30px;
}
header .right > span a:first-child::after {
    height: 8px;
    margin: 0 5px;
}
.search {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.cart {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

/* menu */
#side_nav {
    left: -100%;
    height: 100%;
    width: 80%;
    max-width: 100%;
    z-index: 10001;
    padding: 20px 0;
}
#side_nav.is-open {
    left: 0;
    transition: all .6s ease-in-out;
}
.menuclose {
    width: 100%;
    height: 30px;
}
.menuclose > img {
    width: 25px;
    height: 25px;
}
.side_inner > ul {
    gap: 15px;
}
.side_inner li ul {
    margin-bottom: 15px;
}
.side_inner li > a {
    font-size: 15px;
}
.side_inner li ul.nw a {
    font-size: 12px;
}
.side_inner ul.nw li:first-of-type {
    margin-bottom: 5px;
}

/* sec01 */
.sec01 {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
}


/* sec02 */
.sec02 {
    height: 895px;
}

.sec02 .inner {
    width: 390px;
    height: 100%;
}
.titleimg {
    width: 132px;
    height: 66px;
    background: url(/dollop-syrup/c/images/showyourcolors.png) 50% 50% no-repeat;
    background-size: cover;
    top: 532px;
    left: 20px;
}
.rec03 {
    width: 390px;
    height: 490px;
    top: 0;
    left: 0;
}
.swiper-slide > img {
    width: 390px;
    height: 490px;
}
#case {
    width: 122px;
    height: 164px;
    bottom: 0;
    left: 70px;
}
#case img {
    width: 122px;
    height: 164px;
}
.rec01 {
    width: 320px;
    height: 42px;
    top: 516px;
    right: 0;
    border-top: 1px solid #000;
    justify-content: flex-end;
}
.rec01 > p {
    font-size: 12px;
    position: inherit;
    top: 0;
    right: 0;
}
.rec01 > h3 {
    font-size: 17px;
    position: inherit;
    top: 16px;
    right: 0;
}
.rec02 {
    display: none;
}
.preview {
    width: 278px;
    height: 90px;
    bottom: 190px;
    left: 56px;
}
.preview h2 {
    font-size: 14px;
}

.preview h2:last-of-type {
    text-align:right;
}

#tabPreview {
    width: 278px;
    height: 38px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    row-gap: 0;
    column-gap: 10px;
}
.circle {
    width: 38px;
    height: 38px;
}
.on {
    border: 1px solid #fff;
}
.titletext {
    width: 72px;
    height: 158px;
    bottom: 0;
    right: 73px;
    justify-content: flex-start;
}
.titletext h3 {
    font-size: 15px;
}
.titletext h1 {
    font-size: 25px;
    margin: 5px 0;
}
.titletext p {
    width: 70px;
    height: 18px;
    font-size: 10px;
    line-height: 10px;
}


/* sec03 */
.sec03 {
    width: 100%;
    height: 650px;
}
.sec03 .inner {
    width: 390px;
    height: 100%;
}
.txtBox {
    width: 290px;
    /* height: 60px; */
    position: absolute;
    top: 33px;
    right: 0;
    left: 50px;
}
.sec03 .txtBox h3 {
    font-size: 17px;
    margin: 0 0 10px 0;
}
.sec03 .txtBox p {
    font-size: 10px;
}
.sec03 .inner .more {
    width: 74px;
    height: 23px;
    line-height: 23px;
    font-size: 7px;
    top: 110px;
    right: 50px;
}
.coLab {
    width: 113px;
    height: 194px;
    border-radius: 15px;
}
.w01 {
    top: 181px;
    left: 50px;
    box-shadow: -5px 5px 0px 1px #F28080;
}
.w02 {
    top: 181px;
    left: 227px;
    box-shadow: -5px 5px 0px 1px #F23838;
}
.w03, .w05 {
    display: none;
}
.w04 {
    width: 136px;
    height: 233px;
    top: 402px;
    left: 127px;
    box-shadow: -8px 8px 0px 1px #F2DA63;
}


/* sec04 */
.sec04 {
    width: 100%;
    height: 330px;
    background: none;
}
.sec04 .wrapBox {
    width: 214px;
    height: 237px;
    bottom: 47px;
    left: 88px;
}
.sec04 .wrapBox h2 {
    margin-bottom: 15px;
}
.sec04 .wrapBox .product {
    padding: 0 30px;
    width: 100%;
    height: 198px;
    box-shadow: 0 -4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 0px 0px;
    padding: 41px 0 0 0;
    flex-direction: column;
    align-items: center;
}
#pBox {
    width: 129px;
    height: 115px;
    font-size: 12px;
}
.top {
    width: 120px;
    height: 120px;
    bottom: 20%;
    right: 20px;
    background-size: 75px 75px;
}
.top svg {
    width: 120px;
    height: 120px;
}


/* sec05 */
.sec05 {
    width: 100%;
    height: 262px;
    padding-top: 20px;
}
#cfunction {
    width: 245px;
    height: 140px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
}
.function {
    width: 55px;
    height: 55px;
}


/* footer */
footer {
    width: 100%;
    height: 100%;
}

footer h4 {
    font-size: 13px;
}

footer:first-of-type {
    height: 607px;
}
footer:first-of-type .inner1200 {
    width: 390px;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    align-items: center;
}


.fBox01 {
    width: 198px;
    height: 350px;
    padding: 0;
    justify-content: space-between;
}
.fBox01 .fLeft {
    width: 198px;
    margin-bottom: 15px;
}

.fLeft h4:first-child {
    margin: 0 0 10px 0;
}
.mailbox {
    border-radius: 2px;
    width: 198px;
    height: 30px;
    margin: 0 0 15px 0;
}
.mailbox input {
    width: 127px;
    height: 34px;
    padding: 15px;
    line-height: 34px;
    font-size: 11px;
}
.mailbox p {
    width: 71px;
    height: 34px;
    line-height: 34px;
    font-size: 11px;
}

.fBox01 .fRight {
    width: 135px;
    height: 210px;
    justify-content: space-between;
}
.fRight h4 {
    margin-bottom: 12px;
}
.fRight ul {
    margin: 0;
    cursor: pointer;
}
.fRight .hide_ul > li > ul {
    display: none;
}



.fBox02 {
    width: 181px;
}
.fBox02 p, .fBox02 a {
    font-size: 15px;
}
.fBox02 p > span {
    font-size: 17px;
}


.fBox03 {
    width: 320px;
}
.fBox03 > p {
    text-align: center;
    color: #606060;
    font-size: 12px;
    margin-bottom: 0;
}

footer:last-of-type {
    height: 70px;
}
footer:last-of-type .inner1200 {
    padding: 10px 0;
    width: 370px;
    height: 100%;
    flex-direction: column;
    align-items: center; 
}
footer .inner1200 .left2 {
    gap: 5px;
  
}
footer .inner1200 .left2 p:nth-of-type(2) a {
    padding:0 5px;
}