@charset "utf-8";
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0");
/* font awsome cdn */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    /* outline: 1px solid skyblue; */
}
a:link,
a:visited {
    text-decoration: none;
    color: #000;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;
}

.right {
    display: flex;
    margin-right: 30px;
}
header .right span {
    font-size: 15px;
}
.menu {
    width: 30px;
    height: 30px;
    background: url(/dollop-syrup/c/images/menu.png) 50% 50% no-repeat;
    background-size: cover;
    text-indent: -9000px;
    cursor: pointer;
    margin-left: 30px;
}
.logo {
    width: 162px;
    height: 49px;
    background: url(/dollop-syrup/c/images/logo.png) 50% 50% no-repeat;
    background-size: cover;
    text-indent: -9000px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .right > span a {
    cursor: pointer;
}
header .right > span a:first-child::after {
    display: inline-block;
    background: #000;
    content: "";
    width: 1px;
    height: 20px;
    margin: 0 15px;
}
.search {
    width: 30px;
    height: 30px;
    background: url(/dollop-syrup/c/images/search.png) 50% 50% no-repeat;
    background-size: cover;
    text-indent: -9000px;
    cursor: pointer;
    margin-left: 15px;
}
.cart {
    width: 30px;
    height: 30px;
    background: url(/dollop-syrup/c/images/cart.png) 50% 50% no-repeat;
    background-size: cover;
    text-indent: -9000px;
    cursor: pointer;
    margin-left: 15px;
}


/* 메뉴 */
#slid_nav a:link,
#slide_nav a:visited {
   text-decoration: none;
   color: #fff;
}
#side_nav {
   position: fixed;
   left: -480px;
   top: 0;
   height: 100%;
   width: 80%;
   max-width: 480px;
   z-index: 10001;
   padding: 25px 0; 
   background-color: #000;
   background-image: url(/dollop-syrup/c/images/nav_background2.gif);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: all .6s ease-in-out;
   color: #fff;
   overflow: auto;
}
#side_nav.is-open {
   left: 0;
   transition: all .6s ease-in-out;
}
.side_inner {
   width: 90%;
   height: 100%;
   margin: 0px auto;
}
.menuclose {
   width: 100%;
   height: 40px;
   cursor: pointer;
   display: flex;
   justify-content: flex-end;
}
.menuclose > img {
    width: 30px;
    height: 30px;
}
.side_inner > ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: #fff;
}
.side_inner li ul {
   margin-bottom: 20px;
   display: none;
   color: #fff;
}
.side_inner li > a {
   color: #fff;
   font-size: 18px;
   font-style: italic;
   font-weight: bold;
}
.side_inner li ul.nw a {
    font-size: 14px;
}
.side_inner ul.nw li:first-of-type {
    margin-bottom: 8px;
}
ul.nw li a span {
    color: #BFFF00;
}

.inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* sec01 */
.sec01 {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    background: #F7F7F7;
    text-align: center;
}


/* sec02 */
.sec02 {
    height: 924px;
    border-bottom: 1px solid #000;
}

.titleimg {
    content: "";
    width: 456px;
    height: 228px;
    background: url(/dollop-syrup/c/images/showyourcolors.png);
    position: absolute;
    top: 32px;
    left: 0;
}
#case {
    width: 385px;
    height: 610px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
#case > div {
    display: none;
}
.rec01 {
    width: 579px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 44px;
    right: 104px;
    border-top: 3px solid #000;
}
.rec01 > p {
    font-size: 18px;
}
.rec01 > h3 {
    font-size: 30px;
}
.rec02 {
    position: absolute;
    width: 88px;
    height: 301px;
    top: 13px;
    right: 42px;
    border: 1px solid #000;
}
.rec03 {
    position: absolute;
    width: 103px;
    height: 292px;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

.swiper-slide > img {
    width: 103px;
    height: 292px;
    object-fit: cover;
}

.preview {
    width: 390px;
    height: 492px;
    position: absolute;
    bottom: 59px;
    left: 569px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview h2 {
    font-size: 30px;
}

#tabPreview {
    width: 390px;
    height: 286px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    row-gap: 106px;
    column-gap: 60px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.on {
    border: 3px solid #fff;
    border-radius: 50%;
}
.circle.on::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100% );
    transform: translate3d(0px, 0px, 0) scale(1.15);
    filter: blur(0px);
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.circle.on::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
.c00 {
    background: url(/dollop-syrup/c/images/circle00.png) 50% 50% no-repeat; 
}
.c01 {
    background: url(/dollop-syrup/c/images/circle01.png) 50% 50% no-repeat;
}
.c02 {
    background: url(/dollop-syrup/c/images/circle02.png) 50% 50% no-repeat;
}
.c03 {
    background: url(/dollop-syrup/c/images/circle03.png) 50% 50% no-repeat;
}
.c04 {
    background: url(/dollop-syrup/c/images/circle04.png) 50% 50% no-repeat;
}
.c05 {
    background: url(/dollop-syrup/c/images/circle05.png) 50% 50% no-repeat;
}

.titletext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 194px;
    height: 468px;
    position: absolute;
    bottom: 71px;
    right: 0px;
}
.titletext h3 {
    font-size: 40px;
}
.titletext h1 {
    font-size: 70px;
}
.titletext p {
    width: 192px;
    height: 42px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 22px;
}

.sec03 {
    width: 100%;
    height: 1150px;
    background: url(/dollop-syrup/c/images/logoCo_Lab.png) 96% 4% no-repeat, url(/dollop-syrup/c/images/backgroundPC.png) top center no-repeat;
    background-size: auto, cover;
}

.txtBox {
    position: absolute;
    top: 187px;
    right: 7px;
}
/* .txtBox::after {
    content: "";
    width: 1920px;
    height: 1024px;
    display: block;
    position: absolute;
    right: -235px;
    top: -187px;
    background: url(/dollop-syrup/c/images/background.svg) no-repeat top center / contain;
    z-index: -1;
} */
.sec03 .txtBox h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    color: #fff;
}
.sec03 .txtBox p {
    font-weight: 400;
    font-size: 23px;
    color: #fff;
}

.sec03 .inner .more {
    width: 192px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 364px;
    right: 0px;
}
.sec03 .inner .more a {
    color: #fff;
}
.coLab {
    width: 202px;
    height: 349px;
    border-radius: 30px;
    display: inline-block;
}
.w01 {
    background: url(/dollop-syrup/c/images/Co-Lab01.png);
    position: absolute;
    top: 211px;
    left: 0;
    box-shadow: -13px 13px 0px 4px #F28080;
}
.w02 {
    background: url(/dollop-syrup/c/images/Co-Lab02.png);
    position: absolute;
    top: 295px;
    left: 340px;
    box-shadow: -13px 13px 0px 4px #F23838;
}
.w03 {
    background: url(/dollop-syrup/c/images/Co-Lab03.png);
    position: absolute;
    top: 404px;
    left: 681px;
    box-shadow: -13px 13px 0px 4px #F27C38;
}
.w04 {
    background: url(/dollop-syrup/c/images/Co-Lab04.png);
    position: absolute;
    top: 698px;
    left: 56px;
    box-shadow: -13px 13px 0px 4px #F2DA63;
}
.w05 {
    background: url(/dollop-syrup/c/images/Co-Lab05.png);
    position: absolute;
    top: 783px;
    left: 396px;
    box-shadow: -13px 13px 0px 4px #428C37;
}



.sec04 {
    position: relative;
    width: 100%;
    height: 800px;
    background: #fff;
    background-image: url(/dollop-syrup/c/images/background_waterdrop02.png);
    background-position-x: 75%;
    background-position-y: 0%;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    overflow: hidden;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    /* animation-delay: 0.5s; */
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes backscroll {
    0% { background-size: 400px 400px; }
    100% { background-size: 700px 700px; }
}


.sec04 .wrapBox {
    width: 440px;
    height: 420px;
    text-align: left;
    bottom: 80px;
    left: 280px;
    position: absolute;
}

.sec04 .wrapBox h2 {
    font-size: 45px;
    margin-bottom: 30px;
}
.sec04 .wrapBox .product {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 0 30px;
    width: 100%;
    height: 300px;
    box-shadow: 8px -4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 0px 0px;
    background: #fff;
}
#pBox {
    width: 228px;
    height: 192px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    display: none;
}
#pBox > .p01 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb01.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}
#pBox > .p02 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb02.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}
#pBox > .p03 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb03.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}
#pBox > .p04 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb04.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}
#pBox > .p05 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb05.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}
#pBox > .p06 {
    width: 100%;
    height: 100%;
    background: url(/dollop-syrup/c/images/Cfunctionb06.png) 50% 0 no-repeat;
    padding: 134px 0 0 0;
}


.sec04 .wrapBox .product button {
    width: 76px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}
.arrow {
    font-size: 36px;
}


.top {
    width: 210px;
    height: 210px;
    background: url(/dollop-syrup/c/images/droptozerocrop.png) 50% 50% no-repeat;
    position: fixed;
    bottom: 8%;
    right: 50px;
    z-index: 1000;
    display: none;
}

.top svg {
    fill:currentColor;
    max-width: 50vmin;
    transform-origin: center;
    width: 210px;
    height: 210px;
    animation:spin 4s linear infinite;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}
.sec05 {
    width: 100%;
    height: 450px;
    background: url(/dollop-syrup/c/images/black-wave1.gif) bottom no-repeat;
}

#cfunction {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.animate__bounce {
    animation: bounce;
    animation-duration: 2s;
}



footer {
    background: #000;
    color: #fff;
    position: relative;
    z-index: 1100;
}
footer .inner1200 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
footer h4 {
    font-size: 15px;
}
footer:first-of-type {
    height: 630px;
}
footer:first-of-type .inner1200 {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.fBox01 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 240px;
    padding: 0 50px;
    
}
.fBox01 .fLight {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fLeft h4:first-child {
    margin: 0 0 18px 0;
}
.mailbox {
    display: flex;
    align-items: flex-start;
    border-radius: 7px;
    width: 248px;
    height: 38px;
    margin: 0 0 50px 0;
}
.mailbox input {
    width: 162px;
    height: 100%;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    line-height: 38px;
}
.mailbox p {
    width: 86px;
    height: 100%;
    background: #1A60AA;
    text-align: center;
    line-height: 38px;
    font-size: 13px;
    cursor: pointer;
}
.sns .snsBox {
    display: flex;
}
.sns a {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    margin: 0 12px 0 0;
    text-align: center;
}
.sns .icon {
    font-size: 20px;
    color: #000;
    line-height: 30px;
}


.fBox01 .fRight {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.fRight h4 {
    margin-bottom: 15px;
}
.fRight a {
    font-size: 14px;
    color: #fff;
    margin: 10px;
}
.fRight ul {
    margin: 0 auto;
}
.fRight ul li {
    margin-bottom: 8px;
}



.fBox02 {
    text-align: center;
}
.fBox02 p > span {
    font-size: 20px;
    color: #73CF11;
    text-align: center;
}
.fBox02 p > span:last-of-type {
    color: #DCDCE6;
}
.fBox02 p a > span {
    color: #00B67A;
}
.fBox02 p a {
    color: #fff;
}


.fBox03 > p {
    text-align: center;
    color: #606060;
    font-size: 12px;
    margin-bottom: 10px;
}


footer:last-of-type {
    height: 100px;
}
footer:last-of-type .inner1200 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 20px 0;
}
footer .inner1200 .left2 {
    display: flex;
    gap: 13px; 
}
footer .inner1200 .left2 p:nth-of-type(2) a {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 13px;
}
footer .inner1200 .left2 a {
    color: #fff;
}














